%tr
  %td= link_to device.devEUI, project_device_messages_path(device.projectId, device.devEUI)
  %td= link_to device.description, project_device_messages_path(device.projectId, device.devEUI)
  %td= link_to device.model, project_device_messages_path(device.projectId, device.devEUI)
  %td= link_to device.vendor, project_device_messages_path(device.projectId, device.devEUI)
  %td= link_to fa_icon("line-chart"), project_device_messages_path(device.projectId, device.devEUI)
