!!!
%html
  %head
    %title Lora
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'https://www.google.com/jsapi'
    = javascript_include_tag 'application'

  %body
    .container
      %nav.navbar.navbar-light.bg-faded
        %button.navbar-toggler.hidden-sm-up(type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header") &#9776;
        #navbar-header.collapse.navbar-toggleable-xs
          = link_to 'Lora', root_path, class: 'navbar-brand'
          %ul.nav.navbar-nav
            %li.nav-item= link_to "Projects", projects_path, class: 'nav-link'

      = yield
